<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-init="hc.getTasks">

    <h1 id="welcome" class="lead">Ready to get shit done, {{hc.userObject.userName}}?!</h1>
    <div>
        <input id="todoInput" type="text" placeholder="Create a Task">
        <button id="addButton" ng-click="hc.addTask(task);">Add Task</button>
    </div>
    <div>
        <h3>Incomplete Tasks</h3>
        <table>
                <thead>
                        <th>Tasks</th>
                        <th>Incomplete</th>
                        <th>Delete</th>
                    </thead>
        </table>
    </div>
    <div>
        <h3>Complete Tasks</h3>
        <table>
                <thead>
                        <th>Tasks</th>
                        <th>Complete</th>
                        <th>Delete</th>
                    </thead>
        </table>
    </div>
</div>