<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-init="hc.getTasks()">
    <h1 id="welcome" class="lead">Ready to get shit done, {{hc.userObject.userName}}?!</h1>
    <div id="todoInput">
        <input id="todoInput" type="text" ng-model="hc.task" placeholder="Create a Task">
        <button id="addButton" ng-click="hc.addTask(hc.task);">Add Task</button>
    </div>
    <div>
        <h3>Incomplete Tasks</h3>
        <table>
            <tr>
                <th>Tasks</th>
                <th>Incomplete</th>
                <th></th>
            </tr>
            <tr ng-repeat="task in hc.allTasksObj.task">
                <td>{{task.task}}</td>
                <td>{{task.complete}}</td>
                <td><button id="deleteButton" ng-click="hc.deleteTask(task);">Delete</button></td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Complete Tasks</h3>
        <table>
            <tr>
                <th>Tasks</th>
                <th>Complete</th>
                <th></th>
            </tr>
            <tr>
                <tr ng-repeat="task in hc.allTasksObj.task">
                    <td>{{task.task}}</td>
                    <td>{{task.complete}}</td>
                    <td><button id="deleteButton" ng-click="hc.deleteTask(task);">Delete</button></td>
                </tr>
        </table>
    </div>
</div>